@import url('https://fonts.googleapis.com/css2?family=Gaegu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    background-color: #fcfaee;
    background: linear-gradient(#fcfaee, #ebdac3);
    color: #fe5d26;
    font-family: "PT Serif", serif;
    font-size: 18px;
}

h1 {
    position: sticky;
    top: 35%;
    font-family: "Gaegu", serif;
    font-weight: bold;
    font-size: 72px;
    text-transform: lowercase;
    margin: 0;
    cursor: pointer;
}

body>section {
    padding: 0 20vw;
}

section:has(>div>section>h1) {
    padding-top: 0;
    padding-bottom: calc(10vh * 2);
    height: calc(500vh - 10vh * 2);
    display: flex;
    align-items: flex-end;
    scroll-snap-align: start;
}

div:has(>section>h1) {
    position: sticky;
    bottom: 35%;
    width: 100%;
}

section:has(>h1) {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding-bottom: 0;
    padding-top: 0;
}

section:has(>h1)+section {
    p {
        max-width: 600px;
        margin-left: auto;
        margin-right: auto;
    }
}

section.spacer {
    height: 500vh;
    background-color: pink;
}