@font-face {
    font-family: "Bubble Boop";
    src: url(./resources/assets/fonts/bubble_boop/BubbleBoop-Regular.ttf);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Cousine";
    src: url(./resources/assets/fonts/cousine/Cousine-Regular.ttf);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Cousine";
    src: url(./resources/assets/fonts/cousine/Cousine-Bold.ttf);
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "Cousine";
    src: url(./resources/assets/fonts/cousine/Cousine-BoldItalic.ttf);
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: "Vividly";
    src: url(./resources/assets/fonts/vividly/Vividly-Regular.ttf);
    font-weight: normal;
    font-style: normal;
}

:root {
    --colour-background: #ffffff;
    --colour-text: #000000;
    --colour-text-light: #aaaaaa;
    --colour-primary: #8da83f;
    --colour-primary-dark: #668118;

    --font-main: "Cousine", "Lucida Console", monospace;
    --font-header-1: "Bubble Boop", cursive;
    --font-header-2: "Vividly", cursive;
}

body {
    margin: 0;
    padding: 0;
    font-family: var(--font-main);
    font-size: 14px;
    height: 100vh;
}

a {
    color: var(--colour-primary);
    text-decoration: underline;

    &:hover {
        font-style: italic;
        color: var(--colour-primary-dark);
    }
}

header>nav,
footer>div {
    padding: 40px 50px;

    >ul,
    >p {
        margin: 0;
    }
}

header {
    position: fixed;
    top: 0;
    width: 100%;

    >nav {
        >ul {
            list-style: none;
            padding-inline-start: 0;
            display: flex;
            align-items: center;
            gap: 40px;

            >li>a {
                text-decoration: none;
            }

            >li:not(:first-of-type)>a {
                color: var(--colour-text);

                &:hover {
                    font-style: italic;
                    text-decoration: underline;
                    color: var(--colour-primary);
                }
            }

            >li:first-of-type {
                flex-grow: 1;
                text-transform: uppercase;
                font-family: var(--font-header-1);
                font-size: 20px;

                >a {
                    color: var(--colour-primary);

                    &:hover {
                        font-style: normal;
                    }
                }
            }
        }
    }
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;

    >div {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}

.social-icons-list {
    list-style: none;
    padding-inline-start: 0;
    display: flex;
    gap: 10px;
    font-size: 20px;
}

iconify-icon {
    transform: translateY(2px);
}

main {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    height: auto;
    padding: 100px 15px;
    overflow: hidden;
}

body#home div:has(>h1) {
    margin-left: 20vw;
    margin-top: 10vh;
}

h1 {
    font-family: var(--font-header-1);
    font-size: 36px;
    color: var(--colour-primary);
    margin: 0;

    >span {
        font-family: var(--font-header-2);
        font-size: 20px;
        color: var(--colour-text);
        font-weight: normal;
        display: inline-block;
        transform: translateY(-3px);
    }
}

#projects-previews {
    position: absolute;
    bottom: calc(100px + 5vh);
    height: 200px;
    margin: 50px 0;

    >div {
        position: absolute;
        left: 0;
        height: 100%;
        display: flex;
        animation: scroll 100s linear infinite;

        >div {
            margin-right: 50px;

            &:hover>img {
                transform: scale(1.05);
            }

            >img {
                height: 100%;
                border-radius: 2px;
                transition: 500ms ease-in-out;
                cursor: pointer;
            }
        }
    }
}

@keyframes scroll {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-50%);
    }
}