@font-face {
    font-family: "Bubble Boop";
    src: url(./resources/assets/fonts/bubble_boop/BubbleBoop-Regular.ttf);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Cousine";
    src: url(./resources/assets/fonts/cousine/Cousine-Regular.ttf);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Cousine";
    src: url(./resources/assets/fonts/cousine/Cousine-Bold.ttf);
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "Cousine";
    src: url(./resources/assets/fonts/cousine/Cousine-BoldItalic.ttf);
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: "Inter";
    src: url(./resources/assets/fonts/inter/Inter-VariableFont_opsz\,wght.ttf);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Inter";
    src: url(./resources/assets/fonts/inter/Inter-Italic-VariableFont_opsz\,wght.ttf);
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: "Noto Sans";
    src: url(./resources/assets/fonts/noto_sans/NotoSans-VariableFont_wdth\,wght.ttf);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Noto Sans";
    src: url(./resources/assets/fonts/noto_sans/NotoSans-Italic-VariableFont_wdth\,wght.ttf);
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: "Vividly";
    src: url(./resources/assets/fonts/vividly/Vividly-Regular.ttf);
    font-weight: normal;
    font-style: normal;
}

:root {
    --colour-background: #ffffff;
    --colour-background-dark: #dddddd;
    --colour-text: #000000;
    --colour-text-light: #777777;
    --colour-text-lighter: #aaaaaa;
    --colour-primary: #8da83f;
    --colour-primary-dark: #668118;

    --font-main: "Cousine", "Lucida Console", monospace;
    --font-header-1: "Bubble Boop", cursive;
    --font-header-2: "Vividly", cursive;
}

body {
    margin: 0;
    padding: 0;
    font-family: var(--font-main);
    font-size: 14px;
    position: relative;
    min-height: 100vh;
}

html:has(body#home),
body#home {
    overflow: hidden;
}

::selection {
    color: white;
    background-color: var(--colour-primary);
}

::-moz-selection {
    color: white;
    background-color: var(--colour-primary);
}

.appear-animation>*,
main:not(.no-animation)>* {
    animation: 350ms appear-up;
    opacity: 0;
    animation-fill-mode: forwards;
}

a {
    color: var(--colour-primary);
    text-decoration: underline;

    &:hover {
        font-style: italic;
        color: var(--colour-primary-dark);
    }
}

header>nav,
footer>div {
    padding: 35px 50px;

    >ul,
    >p {
        margin: 0;
    }
}

header {
    position: fixed;
    top: 0;
    width: 100vw;
    background-color: var(--colour-background);
    z-index: 2;

    >nav {
        >ul {
            list-style: none;
            padding-inline-start: 0;
            display: flex;
            align-items: center;
            gap: 40px;

            >li>a {
                text-decoration: none;
            }

            >li:not(:first-of-type)>a {
                color: var(--colour-text);

                &:hover {
                    font-style: italic;
                    text-decoration: underline;
                    color: var(--colour-primary);
                }
            }

            >li:first-of-type {
                flex-grow: 1;
                text-transform: uppercase;
                font-family: var(--font-header-1);
                font-size: 20px;

                >a {
                    color: var(--colour-primary);

                    &:hover {
                        font-style: normal;
                    }
                }
            }
        }
    }
}

footer {
    width: 100vw;
    z-index: 2;

    >div {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}

.social-icons-list {
    list-style: none;
    padding-inline-start: 0;
    display: flex;
    gap: 10px;
    font-size: 20px;
}

iconify-icon {
    transform: translateY(2px);
}

main {
    flex-grow: 1;
    padding: 100px 15px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
}

body#home,
body:has(>main.span) {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

body#home main,
main.span {
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

body#home main {
    >div:has(h1) {
        width: 100%;
        margin-left: 150px;

        >h1 {
            display: inline-block;

            +p {
                display: inline-block;
                margin-left: 15px;
                transform: translateY(-6px);
            }

            +p+p {
                font-size: 32px;
                margin: 0;
                font-weight: bold;
            }
        }

        >div {
            width: 500px;
            color: #aaa;
            line-height: 18px;

            >p>span {
                color: var(--colour-text);
            }
        }

        >div {
            display: flex;
            gap: 10px;
        }

        ul {
            list-style: none;
            padding-inline-start: 0;
            color: var(--colour-primary-dark);
            display: flex;
            gap: 8px;
            text-transform: capitalize;

            >li {
                padding: 5px 10px;
                color: var(--colour-text);
                background-color: var(--colour-background);
                border: 1px var(--colour-text) solid;
                border-radius: 10px;
                cursor: default;
                user-select: none;

                &:hover {
                    background-color: var(--colour-primary);
                    color: var(--colour-background);
                    border-color: var(--colour-primary);
                }
            }
        }
    }
}

body#about-me div:has(>h1) {
    text-align: center;
    margin-top: 150px;
}

h1 {
    font-family: var(--font-header-1);
    font-size: 36px;
    color: var(--colour-primary);
    margin: 0;

    >span {
        font-family: var(--font-header-2);
        font-size: 20px;
        color: var(--colour-text);
        font-weight: normal;
        display: inline-block;
        transform: translateY(-3px);
    }
}

#projects-preview {
    position: relative;
    height: 250px;
    width: 100vw;
    overflow-y: hidden;
    overflow-x: auto;
    scrollbar-width: none;
    margin: 50px 0;

    >div {
        position: absolute;
        left: 0;
        height: 100%;
        display: flex;
        gap: 50px;
        animation: slide_right_projects_preview 500ms ease-out;
        /* animation: scroll 200s linear infinite; */

        >a {
            display: block;
            text-decoration: none;
            font-style: normal;
            color: inherit;
            position: relative;
            border-radius: 10px;

            &:hover:has(>div)>img {
                opacity: 0;
                pointer-events: none;
            }

            &:hover:not(:has(>div))>img {
                background-color: var(--colour-primary);
            }

            >img {
                position: relative;
                z-index: 2;
                height: 100%;
                border-radius: inherit;
                background-color: var(--colour-background-dark);
                transition: 100ms ease-in-out;
                cursor: pointer;
            }

            >div {
                position: absolute;
                top: 0;
                bottom: 0;
                width: calc(100% - 20px * 2 - 1px * 2);
                padding: 20px;
                border-radius: inherit;
                border: 1px solid var(--colour-text);
                background-color: var(--colour-background);
                display: flex;
                flex-direction: column;
                justify-content: center;
                cursor: pointer;

                h3 {
                    margin: 0;
                    margin-bottom: 10px;
                }

                p {
                    margin: 0;
                    margin-bottom: 5px;
                }

                h3:has(+span),
                h3+span {
                    display: inline-block;
                }

                h3+span {
                    margin-left: 10px;
                    color: var(--colour-text-light);

                    &::before {
                        content: "\2022";
                        margin-right: 10px;
                    }
                }

                >.tags {
                    margin-top: 5px;
                    margin-bottom: 10px;

                    >li {
                        margin: 0 -4px;
                    }
                }
            }
        }
    }
}

#photo-album {
    display: flex;
    justify-content: center;
    align-items: end;
    margin: 100px 100px;
    min-width: 500px;
    user-select: none;

    >img {
        height: 150px;
        width: 150px;
        border-radius: 15px;
        background-color: var(--colour-text-light);
        margin: 0 -20px;
        cursor: pointer;
        transition: 150ms;

        &:hover {
            transform: translateY(-5px);
        }

        &:nth-of-type(1) {
            rotate: -7deg;
        }

        &:nth-of-type(2) {
            rotate: -7deg;
            height: 175px;
            width: 175px;
            margin-bottom: 25px;
        }

        &:nth-of-type(3) {
            rotate: -5deg;
        }

        &:nth-of-type(4) {
            rotate: 0deg;
        }

        &:nth-of-type(5) {
            rotate: 5deg;
        }

        &:nth-of-type(6) {
            rotate: 7deg;
        }

        &:nth-of-type(7) {
            rotate: 9deg;
            height: 175px;
            width: 175px;
            margin-bottom: 5px;
        }
    }
}

body#about-me main .section {
    text-align: center;
    max-width: 750px;
    margin: auto;

    &:not(:last-of-type) {

        margin-bottom: 65px;
    }

    & p,
    h3 {
        margin: 20px 0;
    }

    & .tags {
        max-width: 500px;
        margin: auto;
        justify-content: center;
        row-gap: 15px;
        column-gap: 20px;
        font-size: inherit;

        >li {
            padding: 5px 10px;
            border-radius: 10px;
        }
    }
}

.tags {
    list-style: none;
    padding-inline-start: 0;
    display: flex;
    flex-wrap: wrap;
    column-gap: 15px;
    row-gap: 5px;
    font-size: 12px;
    margin: 12px 0 20px 0;

    >li {
        color: var(--colour-text);
        background-color: var(--colour-background);
        border: 1px solid var(--colour-text);
        padding: 5px 8px;
        border-radius: 5px;
        cursor: default;

        &:hover {
            background-color: var(--colour-primary);
            color: var(--colour-background);
            border-color: var(--colour-primary);
        }
    }
}

body#project main {
    display: flex;
    flex-direction: column;
    gap: 20px;

    & .tags {
        margin-top: 5px;
        margin-bottom: 30px;
    }

    >section {
        text-align: left;
        max-width: 750px;
        width: 100%;
    }

    >div {
        max-width: 1200px;
    }

    >section:first-of-type,
    >section.has-container {
        padding: 20px 30px;
        border: 1px solid var(--colour-text);
        border-radius: 10px;
        background-color: var(--colour-background);
    }

    >section>p {
        font-size: 13px;
        line-height: 18px;
        letter-spacing: -0.6px;
    }

    section>ul:not(.tags) {
        padding-inline-start: 30px;
        line-height: 24px;
    }

    section>ul.list-style-icons {
        padding-inline-start: 15px;
        line-height: 24px;
    }

    section>ul.list-style-icons>li {
        background-repeat: no-repeat;
        background-position: left 0 top 3px;
        padding: 0 0 0 30px;
        list-style: none;
        margin: 8px 0;
    }

    h3:has(+.list-style-icons) {
        margin-bottom: 15px;
    }

    >.has-container>h3:first-of-type {
        margin-top: 10px;
    }

    >section>h2 {
        margin-top: 30px;
    }

    h3 {
        margin-top: 30px;
        margin-bottom: 8px;

        +p,
        +ul {
            margin-top: 8px;
        }
    }

    .img-grid+h3 {
        margin-top: 80px;
    }
}

.img-grid {
    display: grid;
    gap: 10px;
    margin: 40px 0;

    >img {
        width: 100%;
        border-radius: 5px;
        transition: 350ms;
    }

    &.col-2 {
        grid-template-columns: 1fr 1fr;

        >figcaption {
            grid-column: span 2;
        }
    }

    &.col-3 {
        grid-template-columns: 1fr 1fr 1fr;

        >figcaption {
            grid-column: span 3;
        }
    }

    &.span-3 {
        grid-template-columns: repeat(2, 1fr);

        >img {
            grid-column: auto;
        }

        >img:nth-child(3) {
            grid-column: auto / span 2;
        }

    }

    &.span-5,
    &.span-7 {
        grid-template-columns: repeat(6, 1fr);

        >img {
            grid-column: auto / span 2;
        }

        >img:nth-child(1),
        >img:nth-child(2),
        >img:nth-child(6),
        >img:nth-child(7) {
            grid-column: auto / span 3;
        }
    }
}

.img-flex {
    position: relative;
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: 40px 0;
    max-width: 1200px;

    &.keep-aspect {
        flex-wrap: nowrap;

        >figcaption {
            position: absolute;
            bottom: -24px;
        }
    }

    >img {
        height: 300px;
        object-fit: cover;
        border-radius: 5px;
        transition: 350ms;
    }

    >figcaption {
        flex-grow: 1;
    }

    &:has(>figcaption) {
        flex-wrap: wrap;

        &.col-2>img {
            width: calc(50% - 10px / 2);
        }

        &.col-3>img {
            width: calc(33% - 10px / 3);
        }

        &.col-4>img {
            width: calc(25% - 10px * 0.8);
        }

        &.col-5>img {
            width: calc(20% - 10px * 0.8);
        }
    }
}

.img-grid.previewable:has(>img:hover) img:not(:hover),
.img-flex.previewable:has(>img:hover) img:not(:hover) {
    transform: scale(0.98);
}

.previewable>img {
    cursor: pointer;
}

div:has(iframe) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;

    >iframe {
        height: 300px;
    }
}

#controls-grid-list {
    >li {
        >span {
            display: inline-block;
        }

        >span:first-of-type {
            width: 250px;
        }
    }
}

.center {
    text-align: center;
}

figcaption {
    text-align: center;
    color: var(--colour-text-light);
    font-size: 12px;
}

#contact-list-btns {
    flex-direction: column;
    list-style: none;
    padding-inline-start: 0;
    display: flex;
    flex-wrap: wrap;
    column-gap: 50px;
    row-gap: 10px;
    justify-content: center;
    margin-top: 20px;

    >li {
        display: flex;
        justify-content: center;

        &:has(>a:nth-of-type(2):hover)>a {
            background-color: var(--colour-primary);
            color: var(--colour-background);
            border-color: var(--colour-primary);
            font-style: italic;
            text-decoration: underline;
        }

        >a {
            color: var(--colour-text);
            background-color: var(--colour-background);
            border: 1px solid var(--colour-text);
            padding: 5px 8px;
            border-radius: 5px;
            font-size: 14px;
            text-decoration: none;
            cursor: pointer;

            &:nth-of-type(2) {
                margin-left: 10px;
            }

            &:hover {
                background-color: var(--colour-primary);
                color: var(--colour-background);
                border-color: var(--colour-primary);
                font-style: italic;
                text-decoration: underline;
            }
        }

        >a>iconify-icon {
            margin-right: 5px;
        }
    }
}

#mouse-shapes {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    user-select: none;
    pointer-events: none;
    z-index: 4;

    >div {
        display: inline-block;
    }

    >div>img {
        position: absolute;
        opacity: 0;
        transform: scale(0.5);
        /* IE, only works on <img> tags */
        -ms-interpolation-mode: nearest-neighbor;
        /* Firefox */
        image-rendering: crisp-edges;
        /* Chromium + Safari */
        image-rendering: pixelated;
    }
}

/* Border */
#border {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border: 10px var(--colour-background) solid;
    user-select: none;
    pointer-events: none;
    z-index: 3;
}

.img-preview {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #00000050;
    backdrop-filter: blur(1px);
    z-index: 3;
}

.img-preview>img {
    max-width: 85vw;
    max-height: 90vh;
    border: 8px solid #ffffff;
    border-radius: 5px;
    cursor: pointer;
}

/* body {
    & header {
        background-color: var(--colour-background);
        border-bottom: 1px var(--colour-text) solid;
    }

    & footer {
        position: fixed;
        bottom: 0;
        background-color: var(--colour-background);
        border-top: 1px var(--colour-text) solid;
    }

    & #border {
        box-shadow: inset 1px 1px 0 var(--colour-text), inset -1px -1px 0 var(--colour-text);
    }
} */

/* Keyframes */
@keyframes scroll {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-50%);
    }
}

@keyframes slide_right_projects_preview {
    from {
        transform: translateX(-100px);
        opacity: 0;
    }

    to {
        transform: translateX(-33%);
        opacity: 1;
    }
}

@keyframes appear-up {
    from {
        transform: translateY(20px);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

/* Targets tablets in landscape mode */
@media only screen and (max-width: 1024px) {

    html:has(body#home),
    body#home {
        overflow: auto;
    }

    header>nav,
    footer>div {
        padding: 20px 30px;
    }

    header>nav {
        background-color: var(--colour-background);
    }

    #projects-preview {
        position: relative;
        height: auto;
        width: 100%;
        margin-left: 50px;
        margin-right: 50px;
        margin-bottom: 0;

        >div {
            position: relative;
            flex-wrap: wrap;
            row-gap: 60px;
            column-gap: 20px;
            height: auto;
            width: 100%;

            >a {
                width: calc(50% - 20px);

                &:hover:has(>div)>img {
                    opacity: 1;
                    pointer-events: all;
                }

                >img {
                    height: auto;
                    width: 100%;
                }

                >div {
                    position: relative;
                    border: none;
                }
            }
        }
    }
}

/* Targets tablets in portrait mode */
@media only screen and (max-width: 768px) {
    header>nav>ul {
        gap: 10px;
    }

    #projects-preview {
        >div>a {
            width: 100%;
        }

        >div>a>div>p {
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 2;
            line-clamp: 2;
            text-overflow: ellipsis;
            overflow: hidden;
        }
    }

    body#about-me div:has(>h1) {
        text-align: center;
        margin-top: 80px;
    }

    #photo-album {
        margin: 80px 50px;
        flex-wrap: wrap;
    }
}

/* Targets mobile devices in landscape mode */
@media only screen and (max-width: 600px) {
    #projects-preview>div>a>div {
        padding: 10px;
        padding-top: 20px;
    }
}

/* Targets mobile devices in portrait mode */
@media only screen and (max-width: 480px) {
    body#home main>div:has(h1) {
        margin-left: 0;
        text-align: center;

        >div {
            width: auto;
        }
    }

    footer>div {
        flex-direction: column;
        gap: 20px;
    }
}